[Unit]
Description=Trigger ARQ Worker every 30 seconds
Requires=arq-worker.service

[Timer]
OnUnitActiveSec=30s
Persistent=true
RandomizedDelaySec=5s

[Install]
WantedBy=timers.target
